/*--------------------State--------------------*/

#state {
    @include parent;
}


/*--------------------Side Bar State--------------------*/

#side-bar-state {
    float: left;
    width: 60px;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    .item {
        position: relative;
        display: block;
        border-bottom: 1px solid #ddd;
        height: 70px;
        &.active {
            background: lighten($brand-color, 10%);
            color: $text-color;
        }
        &.active:after {
            content: '';
            position: absolute;
            left: 100%;
            top: 50%;
            margin-top: -13px;
            border-left: 0;
            border-bottom: 13px solid transparent;
            border-top: 13px solid transparent;
            border-left: 10px solid lighten($brand-color, 10%);
        }
        &.user-online {
            i {
                background-position: 0 0;
            }
            .count {
                background-color: red;
            }
        }
        &.waiting-board {
            i {
                background-position: 0 -50px;
            }
            .count {
                background-color: yellow;
            }
        }
        &.playing-board {
            i {
                background-position: 0 -100px;
            }
            .count {
                background-color: green;
            }
        }
        .icon {
            width: 50px;
            height: 50px;
            background-image: url(icons.png);
            background-repeat: no-repeat;
            background-size: auto;
            background-position: 0 0;
            position: absolute;
            top: 50%;
            left: 50%;
            @include prefix-transform(translate(-50%, -50%));
        }
        .count {
            @include prefix-border-radius(50%);
            font-size: 15px;
            padding: 5px;
            position: absolute;
            top: 10%;
            left: 10%;
            color: black;
            font-weight: bold;
        }
    }
}


/*--------------------Tab State--------------------*/

#tab-state {
    float: right;
    width: 80%;
    height: 100%;
    margin: 0;
    .tab:not(.active) {
        display: none !important;
    }
    .tab {
        .title {
            height: 30px;
            text-transform: uppercase;
            color: $text-color;
            text-align: center;
            font-weight: bold;
            font-size: 14px;
            padding-top: 5px;
            background: rgba(0, 0, 0, 0.2);
        }
        .container {
            height: 90%;
            overflow-x: hidden;
            overflow-y: scroll;
            padding-left: 10px;
            box-shadow: inset 0 0 10px #000000;
        }
        &.user-online {
            .user {
                padding: 1px;
            }
        }
        &.user-online .user,
        &.waiting-board .board,
        &.playing-board .board {
            @include prefix-border-radius(2px);
            display: block;
            background: rgba(0, 0, 0, 0.2);
            color: $text-color;
            font-weight: bold;
            border: 1px dashed $text-color;
            @include prefix-border-radius(10px);
            box-shadow: 0 0 0 4px rgba(10, 20, 0, 0.1), 2px 1px 6px 4px rgba(10, 10, 0, 0.1);
            text-shadow: -1px -1px rgba(20, 10, 0, 0.1);
            font-weight: normal;
            margin: 10px;
            padding: 5px;
            text-decoration: none;
        }
        .board {
            .vs {
                margin: auto;
                text-shadow: 1px 1px $text-color;
                font-size: 25px;
            }
        }
        &.waiting-board .board .user,
        &.waiting-board .board .vs {
            display: inline-block;
        }
        &.waiting-board {
            .board {
                .user {
                    width: 70%;
                    overflow-x: auto;
                }
                .vs {
                    vertical-align: middle;
                    color: yellow;
                    span {
                        display: inline-block;
                        vertical-align: middle;
                        width: 10px;
                        height: 10px;
                        margin: auto 5px;
                        background: $text-color;
                        @include prefix-border-radius(50px);
                        @include prefix-animation(loader 0.9s infinite alternate);
                        &:nth-of-type(2) {
                            @include prefix-animation-delay(0.3s);
                        }
                        &:nth-of-type(3) {
                            @include prefix-animation-delay(0.6s);
                        }
                    }
                }
            }
        }
        &.playing-board {
            .board {
                display: flex;
                .user {
                    width: 40%;
                    overflow-x: auto;
                }
                .vs {
                    color: green;
                }
                .right-user {
                    float: right;
                }
            }
        }
    }
}


/*--------------------User--------------------*/

.user {
    .avatar,
    .name {
        display: inline-block;
    }
    .avatar {
        @include prefix-border-radius(30px);
        width: 30px;
        height: 30px;
        overflow: hidden;
        margin: 0;
        padding: 0;
        border: 2px solid rgba(255, 255, 255, 0.24);
        img {
            width: 100%;
            height: auto;
        }
    }
    .name {
        color: $text-color;
        vertical-align: top;
        margin-top: 5px;
    }
}